# Нужные нам библиотеки
import discord # Если не установлена прописываем в терминал: pip install discord
from discord.ext import commands
import openai # Если не установлена прописываем в терминал: pip install openai

# Устанавливаем ключ API для OpenAI
openai.api_key = "ВАШ API КЛЮЧ"

# Нужные переменные
intents = discord.Intents.all()
prefix = '/' # вместо / можете поставить любой символ
bot = commands.Bot(command_prefix=prefix, intents=intents)

# Инициализируем клиента Discord
client = discord.Client(intents=intents)


# Фильтр сообщений, чтобы бот не отвечал сам себе
@client.event
async def on_message(message):
    if message.author == client.user:
        return


# Отправляем запрос в DialoGPT и получить ответ, в скобках можно указать любую команду вместо 'qq'
@bot.command(name='qq')
async def cont(ctx: commands.context, *, args):
    result = str(args)
    response = openai.Completion.create(
        model="text-davinci-003", #Версия DialoGPT
        prompt=result, #Эта строка для того чтобы DialoGPT получил сообщение пользователя
        temperature=1, #Это для того, чтобы бот связывал свои слова между собой (параметр от 0 до 1, например 0.4)
        max_tokens=1000, #Это максимальное кол-во токенов, 1 токен = 1 символу
        n=1, #Это не трогаем и не обязательно знать почему
        top_p=1, #Этот параметр определяет насколько смысл ответа будет осмысленен
        stop=None, #Это стоп слово чтобы остановить бота в самом дискорде не заходя в программу для написания кода
        frequency_penalty=0, #Это не трогаем
        presence_penalty=0 #Это тоже
    )

    await ctx.send(embed=discord.Embed(title=f'{result}', description=response['choices'][0]['text']))

# Запускаем бота в дискорде
bot.run("ВАШ КЛЮЧ ДИСКОРД БОТА")
